base58==0.2.5
cachetools==5.2.0
certifi==2022.12.7
charset-normalizer==2.1.1
google-api-core==2.11.0
google-api-python-client==2.70.0
googleapis-common-protos==1.57.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
httplib2==0.21.0
idna==3.4
importlib-resources==5.10.1
pip==21.2.3
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyblake2==1.1.2
pyparsing==3.0.9
pyTelegramBotAPI==4.9.0
python-axolotl-curve25519==0.4.1.post2
requests==2.28.1
rsa==4.9
setuptools==57.4.0
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.13
zipp==3.11.0
python-axolotl-curve25519
pyblake2
protobuf==3.19.6
google-api-python-client
pytest
pytest-cov